server:
  port: 8082
  servlet:
    context-path: /api
    session:
      timeout: 30m
      cookie:
        http-only: true
        secure: false
        same-site: lax
        path: "/"

logging:
  level:
    org:
      springframework:
        security: DEBUG

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/daugia?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Ho_Chi_Minh"
    username: root
    password:

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Ho_Chi_Minh

  jackson:
    time-zone: Asia/Ho_Chi_Minh
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB